/* AlbumGrid.css */
.album-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  padding: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.album-item {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.album-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.album-title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.album-title-tooltip {
  max-width: 150px; /* Adjust as needed */
}

.album-artist {
  color: #666;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buy-button,
.wishlist-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}

.wishlist-button {
  background-color: #28a745;
}
