name: React CI
on:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v2

    - name: Set up Node.js ${{ matrix.node-version}}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version}}
        cache: 'npm'

    - name: Installing dependencies
      run: npm install

    - name: Running Prettier for formatting
      run: npm run format:all

    - name: Running ESLint for linting
      run: npm run lint:check

    - name: Running Jest for testing
      run: npm test
